/*reset css*/
@font-face {
   font-family: playflix;
   src: url('https://raw.githubusercontent.com/lucasscardoso/projeto_integrador/main/fonte/BebasNeue-Regular.ttf') format('truetype');
}
* {
  margin: 0;
   box-sizing: border-box;
   font-family: playflix;
}



.navbar {
    
    padding: 10px 20px;
    position: flex;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-logo img {
    height: 100px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-item {
    position: relative;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: #fd0606;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #1C1C1C;
    color: #f1f5f8;
}

.cabecalho{
    display: flex;
    align-items: center;
    width: 500px;
    height: 5vh;
    margin-bottom: 220px;
}

.botao_cabecalho{
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    margin-left: auto;
    height: 100%;
    padding-right: 10px;
    gap: 10px;
}


.formulario {
   
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
 
}

.cadastro{
    width: 500px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color:  rgba(0, 0, 0, 1.1);
}


.input-class{
    width: 200px;
}



#botao-cadastrra{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 20px;
    
}

 a {
    text-decoration: none;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    
    
}

.rodape-texto {
    width: 90%;
    
}

.rodape-texto h5 {
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.hr-footer{
    width: 100%;
    height: 1px;
}

  input.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
  }
  
  input.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
  }
  
   .helper-text {
    display: none; 
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
} 

.visible {
    display: block;
  }

