*{   margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

div {
    
    margin: 20px;
    padding: 10px;
}

ul li {
    display: inline-block;
}

body{
   background-image: url('/imagens/perfil/fundo.jpg');
   
}

div{
    padding: 20px;
  
}
.rodape{
    margin-top: 20vh;
}

.cabecalho{
    display: flex;
    align-items: center;
    width: 500px;
    height: 5vh;
    margin-bottom: 150px;
}
.botao_cabecalho{
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    margin-left: auto;
    height: 100%;
    padding-right: 10px;
    gap: 10px;
}

.reveal-img {
    transition: opacity 0.3s ease;
}