/*reset css*/
@font-face {
   font-family: playflix;
   src: url(/fonte/BebasNeue-Regular.ttf);
}
* {
  margin: 0;
   box-sizing: border-box;
   font-family: playflix;
}

.filmes{
    background-color: blue;
    
    margin: 20px;
    padding: 10px;
}

ul li {
    display: inline-block;
}

body{
   background-image: url('/projeto_integrador/imagens/perfil/fundo.jpg');
}

div{

    background-color: aqua;
    padding: 10px;
  
}


.cabecalho{
    display: flex;
    align-items: center;
    width: 500px;
    height: 5vh;
    margin-bottom: 150px;
}
.botao_cabecalho{
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    margin-left: auto;
    height: 100%;
    padding-right: 10px;
    gap: 10px;
}

.reveal-img {
    transition: opacity 0.3s ease;
}

.rodape{
    margin-top: 20vh;
}