/*reset css*/
@font-face {
   font-family: playflix;
   src: url(/fonte/BebasNeue-Regular.ttf);
}
* {
  margin: 0;
   box-sizing: border-box;
   font-family: playflix;
}

.pai-corrosel{
 display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 5px;
    margin-top: 100px;
    margin-bottom: 0;
    
    
    
}

.pai-corrosel2{
    display: flex;
    align-items: center;
    
    width: 100vw;
    height: 5px;
    margin-top: 100px;
    margin-bottom: 0;

    justify-content:start;
    
}


.titulo-carrosel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 40px;
    margin-top: 100px;
    
   

}

.hr-right{
    width: 50%;
    height: 2px;
}

.hr-left{
    width: 50%;
    height: 2px;
   
    
}



.text-hr{
    padding: 0 10px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    font-size: 40px;
}


.navbar {
    
    padding: 10px 20px;
    position:static;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-logo img {
    height: 100px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-item {
    position: relative;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: #fd0606;
}

    

body{
    display: flex;
    flex-direction: column;
    background-color: #1C1C1C;
    color: #f1f5f8;
}


.container-carrosel{
    display:flex;
    gap: 10px;
    margin-top: 100px;
}

.carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel-filmes {
    position: relative;
    width: 60%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel-item-filmes img {
    width: 200px;
    display: block;
    border-radius: 10px;
    padding: 10px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.carousel-item img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.imagem_carrosel{
    width: 300px;
    height: 300px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.pai-filmes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filmes-container{
    display: flex;
    width: 1500px;
    height:500px;
    
    
  
    margin-top: 100px;
    margin-left: 30px;

    }
    .filmes img {
        width: 250px;
        height: 200px;
        padding: 10px;
        cursor: pointer;
        transition: transform 0.3s ease, border 0.3s ease;

       
    }
    
    .filmes img:hover {
        transform: scale(1.1); 
        border: 2px solid #fff;
        
        
    }

    

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    
    
}

.rodape-texto {
    width: 90%;
    
}

.rodape-texto h5 {
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.hr-footer{
    width: 100%;
    height: 1px;
}

