@font-face {
  font-family:"playflix" ;
  src: url(/fonte/BebasNeue-Regular.ttf);
  }

*{
    margin: 0; padding: 0;
  
    }
    .navbar {
    
      padding: 10px 20px;
      position:relative;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1000;
  }
  
  .navbar-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
  }
  
  .navbar-logo img {
      height: 100px;
  }
  
  .navbar-menu {
      list-style: none;
      display: flex;
      gap: 20px;
  }
  
  .navbar-item {
      position: relative;
  }
  
  .navbar-link {
      color: #fff;
      text-decoration: none;
      font-size: 20px;
      transition: color 0.3s ease;
  }
  
  .navbar-link:hover {
      color: #fd0606;
  }
  
  


   .pai-corrosel{
    display: flex;
       align-items: center;
       justify-content: center;
       width: 100vw;
       height: 5px;
       margin-top: 100px;
       margin-bottom: 0;
       
       
       
   }
   
   .pai-corrosel2{
       display: flex;
       align-items: center;
       
       width: 100vw;
       height: 5px;
       margin-top: 100px;
       margin-bottom: 0;
   
       justify-content:start;
       
   }
   
   
   .titulo-carrosel{
       display: flex;
       align-items: center;
       justify-content: center;
       width: 50vw;
       height: 40px;
       margin-top: 100px;
       
      
   
   }
   
   .hr-right{
       width: 50%;
       height: 2px;
   }
   
   .hr-left{
       width: 50%;
       height: 2px;
      
       
   }
   
   
   
   .text-hr{
       padding: 0 10px;
       font-weight: bold;
       color: white;
       white-space: nowrap;
       font-size: 40px;
   }
   
  
  .logo{
   height: 120px;
   border-radius: 120px;
   margin-top: 50px;
   margin-bottom: 2%; 
   width: 50%;
   margin-left: 25%
  }
  .carrinho{
    width: 50px;/*tamanho do carrinho*/
    height: 50px;/*tamanho do carrinho*/
    border-radius: 50px;
    margin-left: 90%;/*posição do carrinho-margem lateral*/
    margin-bottom: 2%;/*margem entre o carrinho e os produtos*/
  
  }
 
  body{
      background-color: rgb(19, 16, 14)
    }
  
    main{
      display:flex;
      flex-direction: column;
      justify-content: center;
    }
   
  /*cabeçalho*/
  
  h3 {
  text-align:center;
  color: rgb(255, 0, 0);
  margin: 1,5rem;
  margin-bottom: 1px;
  } 
  
  h4{
    margin-bottom: 1.5rem; margin-top: 1.5rem;
    color: rgb(255, 0, 0);
  }
  .titulo-certificados{
    margin-bottom: 0px;
  }
 
  /*galeria*/
  
  .container {
  
  margin-top: 5px; 
  text-align:center;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  "prod1 prod2 prod3 prod4"
  "prod5 prod6 prod7 prod8"
  "prod9 prod10 prod11 prod12";
  }
  .produto-1 {
    grid-area: prod1;
    }
    .produto-2 {
    grid-area: prod2;
    }
    .produto-3 {
    grid-area: prod3;
    }
    .produto-4 {
    grid-area: prod4;
    }
    .produto-5 {
    grid-area: prod5;
    }
    .produto-6 {
    grid-area: prod6;
    }
    .produto-7 {
    grid-area: prod7;
    }
    .produto-8 {
    grid-area: prod8;
    }
    .produto-9 {
    grid-area: prod9;
    }
    .produto-10 {
    grid-area: prod10;
    }
    .produto-11 {
    grid-area: prod11;
    }
    .produto-12 {
    grid-area: prod12;
    }
  
  .card {
  border:2px solid rgb(236, 51, 51);
  border-radius:5px;
  }
  
  .card-imagem:hover{
    background-color: rgb(236, 51, 51);
    color: rgb(18, 16, 15);
    border-color: rgb(236, 164, 164);
    }
    .card-imagem {
      height:300px;
      width: 100%;
      background-size:cover;
      transition:.5s;
      
      }
    .produto-1 .card-imagem{
        background-image: url('/projeto_integrador/imagens/produtos/anne.jpeg')
        }
    .produto-1 .card-imagem:hover{
    background-image:url('/projeto_integrador/imagens/produtos/anne_sinopse.jpeg');
    }
    .produto-2 .card-imagem{
    background-image:url('/projeto_integrador/imagens/produtos/Emily_in_Paris.jpeg'); 
    }
    .produto-2 .card-imagem:hover{
    background-image:url('/projeto_integrador/imagens/produtos/Emily_in_Paris_sinopse3.jpeg');
    }
    .produto-3 .card-imagem{
    background-image:url('/projeto_integrador/imagens/produtos/Coisa_mais_linda.jpeg');      
    }
    .produto-3 .card-imagem:hover{
    background-image:url(imagem/);
    } 
    .produto-4 .card-imagem{
    background-image:url('/projeto_integrador/imagens/produtos/Durante_a_tormenta2.jpeg');
    }
    .produto-4 .card-imagem:hover{
    background-image:url(imagem/);
    }    
    .produto-5 .card-imagem{
    background-image:url('/projeto_integrador/imagens/produtos/Moxie.jpeg');
    }
    .produto-5 .card-imagem:hover{
    background-image:url(imagem/);
    }    
    .produto-6 .card-imagem{
    background-image:url('/projeto_integrador/imagens/produtos/Era_uma_segunda_vez.jpeg');
    }
    .produto-6 .card-imagem:hover{
    background-image:url(imagem/);
    }    
    .produto-7 .card-imagem{
    background-image:url('/projeto_integrador/imagens/produtos/Fora_de_série.jpeg');
    }
    .produto-7 .card-imagem:hover{
    background-image:url(imagem/);
    }    
    .produto-8 .card-imagem{
    background-image:url('/projeto_integrador/imagens/produtos/Good_girls.jpeg');
    }
    .produto-8 .card-imagem:hover{
    background-image:url(imagem/);
    }
    .produto-9 .card-imagem{
    background-image:url('/projeto_integrador/imagens/produtos/Não_nasci_para_agradar.jpeg');
    }
    .produto-9 .card-imagem:hover{
    background-image:url(imagem/);
    }
    .produto-10 .card-imagem{
    background-image:url('/projeto_integrador/imagens/produtos/Eu_não_sou_um_homem_fácil.jpeg');
    }
    .produto-10 .card-imagem:hover{
    background-image:url(imagem/);
    }
    .produto-11 .card-imagem{
    background-image:url('/projeto_integrador/imagens/produtos/Boys.jpeg');
    }
    .produto-11 .card-imagem:hover{
    background-image:url(imagem/);
    }
    .produto-12 .card-imagem{
    background-image:url('/projeto_integrador/imagens/produtos/A_boa_mentira.jpeg');
    }
    .produto-12 .card-imagem:hover{
    background-image:url(imagem/p);
    }
  
  .botao__comprar:hover{
  background-color: rgba(247, 6, 42, 0.66);
  color: rgba(250, 7, 59, 0.938);
  border-color: rgb(204, 227, 243);
  
  }
  .botao__comprar{
  border:4px solid rgb(245, 5, 17);
  width:40%;
  padding:0.3rem;
  border-radius:10px;
  }
  .botao__comprar{
      margin-left: auto;
      margin-right: auto;
      margin-top: 5px;
      text-decoration: none;
     
    }
   
  .card-description{
  padding:20px 10px;
  
  }  
  
  .forma-pagamentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    
  }
  
  .selo-segurancas-img{
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  .voltar-link {
    display: block;
    text-align: center;
    color:rgb(253, 10, 10);
    text-decoration:none;
    margin-top:5px;
    margin-bottom: 5px;
    transition:0.9s;
    font-size: 25px;
  
    }
     .voltar-link :hover{
      color:rgb(253, 10, 10);
      text-decoration:none;
    }
  