/*reset css*/
@font-face {
   font-family: playflix;
   src: url(/fonte/BebasNeue-Regular.ttf);
}
* {
  margin: 0;
   box-sizing: border-box;
   font-family: playflix;
}


body{
    display: flex;
    flex-direction: column;
     background-color: #1C1C1C;
    color: #f1f5f8;
}

.cabecalho{
    display: flex;
    align-items: center;
    width: 500px;
    height: 5vh;
    margin-bottom: 220px;
}
.botao_cabecalho{
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    margin-left: auto;
    height: 100%;
    padding-right: 10px;
    gap: 10px;
}

.formulario{
    display: flex;
    justify-content: center;
    text-align: center;
}

.recuperar{
    color: #f9f9f9;
    font-size: 18px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    
}

#continuar {
    
    margin-top: 20px;
}

.rodape{
    margin-top: 20vh;
}
